In [1]:
# import the relevant libraries
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy.stats import chi2_contingency
from sklearn.metrics import r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import PolynomialFeatures
from tabulate import tabulate
from statsmodels.tools import add_constant

In [2]:
# Load the data 
customer_info = pd.read_csv('customer_info.csv')
customer_info. head()

,customer_id,customer_unique_id(barcode),postal_code,city,state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
# Load the data 
product_info = pd.read_csv('product_info.csv')
product_info. head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [4]:
# Load the data 
employee_info = pd.read_csv('employee_info.csv')
employee_info. head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [5]:
# Load the data 
invoice_product_info = pd.read_csv('invoice_products_info.csv')
invoice_product_info. head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57,199.90,18.14

In [6]:
# Load the data 
invoice_payment_info = pd.read_csv('invoice_payment_info.csv')
invoice_payment_info. head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
# Load the data 
invoice_porducts_status= pd.read_csv('invoice_porducts_status.csv')
invoice_porducts_status. head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56,2017-10-02 11:07,2017-10-04 19:55,2017-10-10 21:25,2017-10-18 0:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41,2018-07-26 3:24,2018-07-26 14:31,2018-08-07 15:27,2018-08-13 0:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 8:38,2018-08-08 8:55,2018-08-08 13:50,2018-08-17 18:06,2018-09-04 0:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28,2017-11-18 19:45,2017-11-22 13:39,2017-12-02 0:28,2017-12-15 0:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18,2018-02-13 22:20,2018-02-14 19:46,2018-02-16 18:17,2018-02-26 0:00

In [8]:
# Load the data 
invoice_reviews= pd.read_csv('invoice_reviews.csv')
invoice_reviews. head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 0:00,2018-01-18 21:46
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 0:00,2018-03-11 3:05
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 0:00,2018-02-18 14:36
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 0:00,2017-04-21 22:02
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 0:00,2018-03-02 10:26

In [9]:
df1 = pd.merge(invoice_product_info, invoice_payment_info, on='order_id')
df1.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.90,13.29,1,credit_card,2,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05,239.90,19.93,1,credit_card,3,259.83
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48,199.00,17.87,1,credit_card,5,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10,12.99,12.79,1,credit_card,2,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57,199.90,18.14,1,credit_card,3,218.04

In [10]:
df2 = pd.merge(df1, invoice_porducts_status, on='order_id')
df2.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.90,13.29,1,credit_card,2,72.19,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 8:59,2017-09-13 9:45,2017-09-19 18:34,2017-09-20 23:43,2017-09-29 0:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05,239.90,19.93,1,credit_card,3,259.83,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53,2017-04-26 11:05,2017-05-04 14:35,2017-05-12 16:04,2017-05-15 0:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48,199.00,17.87,1,credit_card,5,216.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33,2018-01-14 14:48,2018-01-16 12:36,2018-01-22 13:19,2018-02-05 0:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10,12.99,12.79,1,credit_card,2,25.78,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00,2018-08-08 10:10,2018-08-10 13:28,2018-08-14 13:32,2018-08-20 0:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57,199.90,18.14,1,credit_card,3,218.04,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57,2017-02-04 14:10,2017-02-16 9:46,2017-03-01 16:42,2017-03-17 0:00

In [11]:
df3 = pd.merge(df2, invoice_reviews,  on='order_id')
df3.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.90,13.29,1,credit_card,2,...,2017-09-13 9:45,2017-09-19 18:34,2017-09-20 23:43,2017-09-29 0:00,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 0:00,2017-09-22 10:57
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05,239.90,19.93,1,credit_card,3,...,2017-04-26 11:05,2017-05-04 14:35,2017-05-12 16:04,2017-05-15 0:00,7b07bacd811c4117b742569b04ce3580,4,NaN,NaN,2017-05-13 0:00,2017-05-15 11:34
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48,199.00,17.87,1,credit_card,5,...,2018-01-14 14:48,2018-01-16 12:36,2018-01-22 13:19,2018-02-05 0:00,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 0:00,2018-01-23 16:06
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10,12.99,12.79,1,credit_card,2,...,2018-08-08 10:10,2018-08-10 13:28,2018-08-14 13:32,2018-08-20 0:00,f4028d019cb58564807486a6aaf33817,4,NaN,NaN,2018-08-15 0:00,2018-08-15 16:39
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57,199.90,18.14,1,credit_card,3,...,2017-02-04 14:10,2017-02-16 9:46,2017-03-01 16:42,2017-03-17 0:00,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 0:00,2017-03-03 10:54

In [12]:
df4 = pd.merge(df3, customer_info,  on='customer_id')
df4.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_unique_id(barcode),postal_code,city,state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.90,13.29,1,credit_card,2,...,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 0:00,2017-09-22 10:57,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05,239.90,19.93,1,credit_card,3,...,7b07bacd811c4117b742569b04ce3580,4,NaN,NaN,2017-05-13 0:00,2017-05-15 11:34,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48,199.00,17.87,1,credit_card,5,...,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 0:00,2018-01-23 16:06,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10,12.99,12.79,1,credit_card,2,...,f4028d019cb58564807486a6aaf33817,4,NaN,NaN,2018-08-15 0:00,2018-08-15 16:39,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57,199.90,18.14,1,credit_card,3,...,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 0:00,2017-03-03 10:54,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP

In [13]:
df5 = pd.merge(df4, product_info,  on='product_id')
df5.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,city,state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.9,13.29,1,credit_card,2,...,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 2:44,55.9,17.96,1,boleto,1,...,jatai,GO,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56,64.9,18.33,1,credit_card,2,...,belo horizonte,MG,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55,58.9,16.17,1,credit_card,3,...,sao jose dos pinhais,PR,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05,58.9,13.29,1,credit_card,4,...,conselheiro lafaiete,MG,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0

In [30]:
Total_Wireframe = pd.merge(df5, employee_info,  on='seller_id')
df6.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.9,13.29,1,credit_card,2,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 2:44,55.9,17.96,1,boleto,1,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56,64.9,18.33,1,credit_card,2,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55,58.9,16.17,1,credit_card,3,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05,58.9,13.29,1,credit_card,4,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP

In [31]:
Total_Wireframe.describe()

,order_item_id,price,freight_value,payment_sequential,payment_installments,payment_value,review_score,postal_code,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
count,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,115634.000000,115634.000000,115634.000000,117309.000000,117309.000000,117309.000000,117309.000000,117329.000000
mean,1.194121,120.524349,20.027514,1.094452,2.940151,172.062565,4.031467,35060.118112,48.768018,785.802861,2.205528,2110.763062,30.254456,16.612476,23.071452,24450.781955
std,0.684225,182.944843,15.828077,0.731174,2.775370,265.388194,1.387927,29849.496175,10.033831,652.382965,1.717783,3785.128931,16.177519,13.452625,11.745875,27582.364358
min,1.000000,0.850000,0.000000,1.000000,0.000000,0.000000,1.000000,1003.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1001.000000
25%,1.000000,39.900000,13.080000,1.000000,1.000000,60.750000,4.000000,11250.000000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6429.000000
50%,1.000000,74.900000,16.280000,1.000000,2.000000,108.100000,5.000000,24240.000000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,13660.000000
75%,1.000000,134.900000,21.180000,1.000000,4.000000,189.060000,5.000000,58770.000000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,28035.000000
max,21.000000,6735.000000,409.680000,29.000000,24.000000,13664.080000,5.000000,99990.000000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.000000

In [32]:
Total_Wireframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117329 entries, 0 to 117328
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   order_item_id                  117329 non-null  int64
 2   product_id                     117329 non-null  object
 3   seller_id                      117329 non-null  object
 4   shipping_limit_date            117329 non-null  object
 5   price                          117329 non-null  float64
 6   freight_value                  117329 non-null  float64
 7   payment_sequential             117329 non-null  int64
 8   payment_type                   117329 non-null  object
 9   payment_installments           117329 non-null  int64
 10  payment_value                  117329 non-null  float64
 11  customer_id                    117329 non-null  object
 12  order_status                   117329 non-null  object
 13  order_purchase_timestamp       117329 non-null  object
 14  order_approved_at              117314 non-null  object
 15  order_delivered_carrier_date   116094 non-null  object
 16  order_delivered_customer_date  114858 non-null  object
 17  order_estimated_delivery_date  117329 non-null  object
 18  review_id                      117329 non-null  object
 19  review_score                   117329 non-null  int64
 20  review_comment_title           13892 non-null   object
 21  review_comment_message         49679 non-null   object
 22  review_creation_date           117329 non-null  object
 23  review_answer_timestamp        117329 non-null  object
 24  customer_unique_id(barcode)    117329 non-null  object
 25  postal_code                    117329 non-null  int64
 26  city                           117329 non-null  object
 27  state                          117329 non-null  object
 28  product_category_name          115634 non-null  object
 29  product_name_lenght            115634 non-null  float64
 30  product_description_lenght     115634 non-null  float64
 31  product_photos_qty             115634 non-null  float64
 32  product_weight_g               117309 non-null  float64
 33  product_length_cm              117309 non-null  float64
 34  product_height_cm              117309 non-null  float64
 35  product_width_cm               117309 non-null  float64
 36  seller_zip_code_prefix         117329 non-null  int64
 37  seller_city                    117329 non-null  object
 38  seller_state                   117329 non-null  object
dtypes: float64(10), int64(6), object(23)
memory usage: 35.8+ MB

In [33]:
data_wireframe=Total_Wireframe.drop (['customer_unique_id(barcode)'], axis=1)
data_wireframe

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.9,13.29,1,credit_card,2,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 2:44,55.9,17.96,1,boleto,1,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56,64.9,18.33,1,credit_card,2,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55,58.9,16.17,1,credit_card,3,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05,58.9,13.29,1,credit_card,4,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,fecc4ea5a3e06ce3192ae2f05b7a8439,2,70adb75b3b2e86cffbb697c90867c3f3,4e2627090e6e5b9fabba883a37897683,2018-01-21 22:09,39.9,14.10,1,credit_card,1,...,31.0,437.0,2.0,100.0,65.0,11.0,11.0,31565,belo horizonte,MG
117325,fecc4ea5a3e06ce3192ae2f05b7a8439,3,70adb75b3b2e86cffbb697c90867c3f3,4e2627090e6e5b9fabba883a37897683,2018-01-21 22:09,39.9,14.10,1,credit_card,1,...,31.0,437.0,2.0,100.0,65.0,11.0,11.0,31565,belo horizonte,MG
117326,fecc4ea5a3e06ce3192ae2f05b7a8439,4,70adb75b3b2e86cffbb697c90867c3f3,4e2627090e6e5b9fabba883a37897683,2018-01-21 22:09,39.9,14.10,1,credit_card,1,...,31.0,437.0,2.0,100.0,65.0,11.0,11.0,31565,belo horizonte,MG
117327,ff701a7c869ad21de22a6994237c8a00,1,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10,27.9,14.44,1,credit_card,1,...,28.0,242.0,1.0,2000.0,19.0,38.0,19.0,3124,sao paulo,SP
117328,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10,27.9,14.44,1,credit_card,1,...,28.0,242.0,1.0,2000.0,19.0,38.0,19.0,3124,sao paulo,SP

In [34]:
data_wireframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117329 entries, 0 to 117328
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   order_item_id                  117329 non-null  int64
 2   product_id                     117329 non-null  object
 3   seller_id                      117329 non-null  object
 4   shipping_limit_date            117329 non-null  object
 5   price                          117329 non-null  float64
 6   freight_value                  117329 non-null  float64
 7   payment_sequential             117329 non-null  int64
 8   payment_type                   117329 non-null  object
 9   payment_installments           117329 non-null  int64
 10  payment_value                  117329 non-null  float64
 11  customer_id                    117329 non-null  object
 12  order_status                   117329 non-null  object
 13  order_purchase_timestamp       117329 non-null  object
 14  order_approved_at              117314 non-null  object
 15  order_delivered_carrier_date   116094 non-null  object
 16  order_delivered_customer_date  114858 non-null  object
 17  order_estimated_delivery_date  117329 non-null  object
 18  review_id                      117329 non-null  object
 19  review_score                   117329 non-null  int64
 20  review_comment_title           13892 non-null   object
 21  review_comment_message         49679 non-null   object
 22  review_creation_date           117329 non-null  object
 23  review_answer_timestamp        117329 non-null  object
 24  postal_code                    117329 non-null  int64
 25  city                           117329 non-null  object
 26  state                          117329 non-null  object
 27  product_category_name          115634 non-null  object
 28  product_name_lenght            115634 non-null  float64
 29  product_description_lenght     115634 non-null  float64
 30  product_photos_qty             115634 non-null  float64
 31  product_weight_g               117309 non-null  float64
 32  product_length_cm              117309 non-null  float64
 33  product_height_cm              117309 non-null  float64
 34  product_width_cm               117309 non-null  float64
 35  seller_zip_code_prefix         117329 non-null  int64
 36  seller_city                    117329 non-null  object
 37  seller_state                   117329 non-null  object
dtypes: float64(10), int64(6), object(22)
memory usage: 34.9+ MB

In [41]:
data_wireframe.to_csv('df1_wireframe.csv', index=False)

In [18]:
data_wireframe=df6.drop (['shipping_limit_date','payment_sequential',
                          'product_name_lenght','product_description_lenght','product_photos_qty',
                         'order_approved_at','order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date','review_comment_title','review_comment_message',
       'review_creation_date', 'review_answer_timestamp',
       'customer_unique_id(barcode)'], axis=1)
data_wireframe.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_type,payment_installments,payment_value,customer_id,...,city,state,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,credit_card,2,72.19,3ce436f183e68e07877b285a838db11a,...,campos dos goytacazes,RJ,cool_stuff,650.0,28.0,9.0,14.0,27277,volta redonda,SP
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,17.96,boleto,1,73.86,e6eecc5a77de221464d1c4eaff0a9b64,...,jatai,GO,cool_stuff,650.0,28.0,9.0,14.0,27277,volta redonda,SP
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9,18.33,credit_card,2,83.23,4ef55bf80f711b372afebcb7c715344a,...,belo horizonte,MG,cool_stuff,650.0,28.0,9.0,14.0,27277,volta redonda,SP
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,16.17,credit_card,3,75.07,30407a72ad8b3f4df4d15369126b20c9,...,sao jose dos pinhais,PR,cool_stuff,650.0,28.0,9.0,14.0,27277,volta redonda,SP
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,credit_card,4,72.19,91a792fef70ecd8cc69d3c7feb3d12da,...,conselheiro lafaiete,MG,cool_stuff,650.0,28.0,9.0,14.0,27277,volta redonda,SP

In [19]:
data_wireframe.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id', 'price',
       'freight_value', 'payment_type', 'payment_installments',
       'payment_value', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'review_id', 'review_score', 'postal_code',
       'city', 'state', 'product_category_name', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'seller_zip_code_prefix', 'seller_city', 'seller_state'],
      dtype='object')

In [20]:
data_wireframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117329 entries, 0 to 117328
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  117329 non-null  object
 1   order_item_id             117329 non-null  int64
 2   product_id                117329 non-null  object
 3   seller_id                 117329 non-null  object
 4   price                     117329 non-null  float64
 5   freight_value             117329 non-null  float64
 6   payment_type              117329 non-null  object
 7   payment_installments      117329 non-null  int64
 8   payment_value             117329 non-null  float64
 9   customer_id               117329 non-null  object
 10  order_status              117329 non-null  object
 11  order_purchase_timestamp  117329 non-null  object
 12  review_id                 117329 non-null  object
 13  review_score              117329 non-null  int64
 14  postal_code               117329 non-null  int64
 15  city                      117329 non-null  object
 16  state                     117329 non-null  object
 17  product_category_name     115634 non-null  object
 18  product_weight_g          117309 non-null  float64
 19  product_length_cm         117309 non-null  float64
 20  product_height_cm         117309 non-null  float64
 21  product_width_cm          117309 non-null  float64
 22  seller_zip_code_prefix    117329 non-null  int64
 23  seller_city               117329 non-null  object
 24  seller_state              117329 non-null  object
dtypes: float64(7), int64(5), object(13)
memory usage: 23.3+ MB

In [21]:
df_without_cust_pro_emp_info=data_wireframe.drop([
       'postal_code', 'city', 'state', 'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'], axis=1)

In [22]:
product_info_final=product_info.drop(['product_name_lenght','product_description_lenght',
                                      'product_photos_qty'], axis=1)

In [23]:
customer_info_final=customer_info.drop(['customer_unique_id(barcode)'], axis=1)

In [24]:
employee_info_final=employee_info

In [25]:
Groupby_Customer=data_wireframe.groupby(['customer_id']).sum()
Groupby_Customer.head(100)

,order_item_id,price,freight_value,payment_installments,payment_value,review_score,postal_code,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
customer_id,,,,,,,,,,,,
00012a2ce6f8dcda20d059ce98491703,1,89.80,24.94,8,114.74,1,6273,4267.0,46.0,39.0,22.0,18500
000161a058600d5901f007fab4c27140,1,54.90,12.51,5,67.41,4,35550,150.0,16.0,2.0,11.0,30494
0001fd6190edaaf884bcaf3d49edf079,1,179.99,15.43,10,195.42,5,29830,750.0,21.0,23.0,35.0,22240
0002414f95344307404f0ace7a26f1d5,1,149.90,29.45,1,179.35,5,39664,1600.0,40.0,24.0,30.0,88115
000379cdec625522490c315e70c7a9fb,1,93.00,14.01,1,107.01,4,4841,800.0,45.0,10.0,34.0,14940
...,...,...,...,...,...,...,...,...,...,...,...,...
003f7d92ac63c512bb6584219806f8df,1,72.90,12.01,1,84.91,1,4310,1650.0,36.0,19.0,43.0,14940
0040a8417928d0d5abd5169cd7877181,1,199.99,19.50,5,219.49,5,12288,133.0,17.0,11.0,13.0,88370
0040b00970e2139e8c43b647c0da5305,1,30.97,10.96,2,41.93,5,12942,443.0,21.0,13.0,17.0,14090
00411811e3b661e746a6e1ce1f0878ab,1,349.00,18.20,3,367.20,1,31260,740.0,26.0,15.0,19.0,12230
0041d7b768cb115092fa0f5d55638d06,1,63.00,18.32,8,81.32,5,32604,500.0,25.0,4.0,18.0,19013

In [26]:
Groupby_Customer.describe()

,order_item_id,price,freight_value,payment_installments,payment_value,review_score,postal_code,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
count,97916.000000,97916.000000,97916.000000,97916.000000,97916.000000,97916.000000,9.791600e+04,97916.000000,97916.000000,97916.000000,97916.000000,9.791600e+04
mean,1.430869,144.419720,23.998205,3.523071,206.175995,4.830753,4.201120e+04,2528.815556,36.246579,19.902702,27.640927,2.929844e+04
std,2.367987,240.848086,26.478078,4.497555,608.563989,3.323964,4.846550e+04,5898.607458,34.495018,24.110885,24.683584,4.245183e+04
min,1.000000,0.850000,0.000000,0.000000,9.590000,1.000000,1.003000e+03,0.000000,0.000000,0.000000,0.000000,1.001000e+03
25%,1.000000,47.650000,14.080000,1.000000,62.860000,4.000000,1.223300e+04,300.000000,19.000000,9.000000,15.000000,7.135000e+03
50%,1.000000,89.580000,17.600000,2.000000,110.080000,5.000000,2.752300e+04,783.000000,28.000000,14.000000,20.000000,1.411000e+04
75%,1.000000,155.000000,25.630000,4.000000,196.260000,5.000000,6.579000e+04,2150.000000,42.000000,23.000000,33.000000,3.218625e+04
max,231.000000,13440.000000,1897.760000,240.000000,109312.640000,315.000000,2.343600e+06,475600.000000,2900.000000,2052.000000,1953.000000,2.957283e+06

In [27]:
Groupby_orderitmid=data_wireframe.groupby(['order_item_id']).sum()
Groupby_orderitmid.head(100)

,price,freight_value,payment_installments,payment_value,review_score,postal_code,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
order_item_id,,,,,,,,,,,
1,12932735.07,2082428.94,293758,15774881.40,421991,3611297319,217894902.0,3106421.0,1697532.0,2374724.0,2532358254
2,876113.75,189265.53,34921,2440624.04,36743,352919163,20936422.0,311878.0,172147.0,236287.0,240095670
3,183499.06,42557.50,8768,846453.40,8128,82235024,4608885.0,71801.0,42500.0,52832.0,53676449
4,76403.28,18339.17,3868,462283.72,3258,34190500,2048569.0,30362.0,18007.0,22047.0,22166925
5,35248.69,8643.39,1767,264881.78,1526,16556174,1075009.0,14018.0,9201.0,10368.0,10595397
6,19582.96,4982.02,996,168315.25,827,9556415,602590.0,7909.0,5308.0,5650.0,6099103
7,5924.49,1148.37,276,64106.67,169,2065836,155085.0,2150.0,1192.0,1387.0,1241408
8,4327.81,794.69,145,50654.65,103,1201288,92188.0,1180.0,786.0,836.0,640584
9,2230.17,541.98,137,32215.28,71,1014661,67981.0,910.0,622.0,654.0,508510
10,2010.43,416.44,121,28938.57,62,831038,68631.0,790.0,554.0,637.0,457874
11,985.70,293.33,63,15438.89,44,652994,29702.0,580.0,355.0,369.0,243486
12,565.07,144.15,44,10153.37,32,438765,13335.0,356.0,215.0,226.0,197464
13,336.67,64.03,31,6435.90,17,197797,4635.0,210.0,110.0,127.0,154509
14,306.68,56.64,30,5949.96,14,192791,4310.0,190.0,95.0,113.0,145218
15,217.69,35.43,23,4407.16,12,168396,2460.0,140.0,53.0,70.0,120902
16,101.20,18.01,3,2398.51,2,8911,1160.0,40.0,22.0,30.0,16046
17,101.20,18.01,3,2398.51,2,8911,1160.0,40.0,22.0,30.0,16046
18,101.20,18.01,3,2398.51,2,8911,1160.0,40.0,22.0,30.0,16046
19,101.20,18.01,3,2398.51,2,8911,1160.0,40.0,22.0,30.0,16046
20,101.20,18.01,3,2398.51,2,8911,1160.0,40.0,22.0,30.0,16046
21,7.80,6.57,2,196.11,1,5882,1000.0,25.0,6.0,12.0,3813

In [28]:
Groupby_postalcode=data_wireframe.groupby(['postal_code']).sum()
Groupby_postalcode.head(100)

,order_item_id,price,freight_value,payment_installments,payment_value,review_score,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
postal_code,,,,,,,,,,,
1003,1,89.99,8.98,4,98.97,3,500.0,18.0,6.0,21.0,4367
1004,2,178.99,19.12,5,198.11,9,650.0,61.0,16.0,37.0,13223
1005,6,490.59,80.13,24,570.72,28,3015.0,124.0,69.0,118.0,239976
1006,2,834.80,33.25,6,868.05,10,5850.0,50.0,101.0,58.0,100055
1007,4,455.48,50.07,8,505.55,8,806.0,74.0,58.0,72.0,94390
...,...,...,...,...,...,...,...,...,...,...,...
1224,26,2964.46,351.64,50,3767.70,91,35747.0,804.0,359.0,546.0,645711
1225,5,467.62,62.42,15,530.04,22,3000.0,119.0,54.0,90.0,183993
1226,21,2870.48,266.13,61,6542.80,55,40480.0,421.0,397.0,418.0,309364
1227,18,1742.58,201.18,36,2358.42,69,25970.0,388.0,242.0,311.0,430893
1228,16,1440.51,177.58,29,1748.99,58,8322.0,392.0,248.0,315.0,373677